.card {
    padding-top: 22px;
    padding-bottom: 23px;
    height: 100%;
  
    display: grid;
    grid-template-areas:
      "cover name"
      "cover features"
      "button button";
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, auto) 1fr;

    @media #{$on-tablet-desktop} {
        padding-top: 0;
        padding-bottom: 40px;
        padding-right: 37px;
        padding-left: 37px;
    
        grid-template-areas:
          "cover"
          "name"
          "features"
          "button";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto) 1fr;
    
        background-color: $color-basic_grey;
    }

    
}