.footer {
    background-color: $color-basic_grey;
}

.footer__container {
    position: relative;
  
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
  
    @media #{$on-tablet-desktop} {
      grid-template-columns: minmax(20%, 1fr) auto minmax(20%, 1fr);
      justify-items: normal;
      align-items: center;
      gap: 48px;
    }
  
    @media #{$on-tablet} {
      padding-top: 55px;
      padding-bottom: 55px;
    }
  
    @media #{$on-desktop} {
      padding-top: 66px;
      padding-bottom: 66px;
    }
}

.footer__logo {
    width: fit-content;
    cursor: pointer;
    transition: opacity $transition-basic;
  
    &:focus-visible {
      outline: 2px solid $color-text-strong;
      outline-offset: 4px;
    }
  }