.header {
  @media #{$on-tablet} {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  @media #{$on-desktop} {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.header__container {
    position: relative;
  
    display: flex;
    flex-direction: column;