.logo-mobile {
    display: inline-block;
    margin: 0;
    margin-right: 50px;
    padding: 0;
}

.logo-mobile__icon-mobile {
    position: relative;
}

.logo-mobile__icon-label {
    position: absolute;
    left: calc(50vw - 50px);
    top: 24px;
}

.logo {
    display: none;
  }