.slider {
    --left-width: 50%;
    --icon-color: #{$color-special_grey-2};
  
    position: relative;
  
    display: grid;
    grid-template-columns: var(--left-width) 1fr;
}

.slider__picture-wrapper {
    display: flex;
    overflow: hidden;
}

.slider__picture {
    display: block;
    max-width: none;
  }