.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 34px;

    @media #{$on-tablet} {
        margin: 0 -30px;
        background-image: linear-gradient(#ffffff 0, #ffffff 180px, #f2f2f2 180px, #f2f2f2 100%);
        overflow: hidden;
    }

    @media #{$on-desktop} {
        padding-bottom: 35px;
        margin: 0;
        background-image: linear-gradient(#ffffff 0, #ffffff 200px, #f2f2f2 200px, #f2f2f2 100%);
        overflow: visible;
    }
}

.slider__images {
    position: relative;
    margin: 0 -20px;
    width: 320px;
    height: 240px;
  
    @media #{$on-tablet} {
      margin: 10px 0 0;
      width: 680px;
      height: 517px;
    }
  
    @media #{$on-desktop} {
      width: 650px;
    }
}

.slider__image {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    transition: width 0.4s ease-out;
  
    &--after {
      display: flex;
      justify-content: flex-end;
      width: 0;
      right: 0;
    }

    @media #{$on-tablet} {
        display: flex;
        flex-direction: column;
        width: 50%;
    
        &--after {
          align-items: flex-end;
          box-shadow: 400px 570px 0 400px #eaeaea;
          background-image: linear-gradient(#ffffff 0, #ffffff 170px, #eaeaea 170px, #eaeaea 100%);
    
          img {
            z-index: 1;
          }
        }
    }

    
}