.slider {
    --left-width: 50%;
    --icon-color: #{$color-special_grey-2};
  
    position: relative;
  
    display: grid;
    grid-template-columns: var(--left-width) 1fr;
}

.slider__picture-wrapper {
    display: flex;
    overflow: hidden;
  
    &--before {
      justify-content: flex-start;
    }
  
    &--after {
      justify-content: flex-end;
    }
}

.slider__picture {
    display: block;
    max-width: none;
}

.slider__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 2px;
  z-index: 1;

  @media #{$on-tablet} {
    margin-top: 15px;
    margin-bottom: 30px;
  }

  @media #{$on-desktop} {
    margin-top: 33px;
  }
}

