.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 34px;

  @media #{$on-tablet} {
    margin: 0 (-$tablet-pads);
    background-image: linear-gradient(#ffffff 0, #ffffff 180px, #f2f2f2 180px, #f2f2f2 100%);
    overflow: hidden;
  }

  @include desktop {
    padding-bottom: 35px;
    margin: 0;
    background-image: linear-gradient(#ffffff 0, #ffffff 200px, #f2f2f2 200px, $grey 100%);
    overflow: visible;
  }
}

.slider__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 2px;
  z-index: 1;

  @media #{$on-tablet} {
    margin-top: 15px;
    margin-bottom: 30px;
  }

  @media #{$on-desktop} {
    margin-top: 33px;
  }
}

.slider__btn {
  margin: 0 20px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  cursor: pointer;
  user-select: none;

  @media #{$on-tablet} {
    padding: 6px 0;
    font-size: 20px;
    line-height: 1;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);

    &:hover {
      border-bottom-style: solid;
      color: #68b738;
    }

    &:active {
      border-bottom: 0;
    }
  }
}

.slider__scale {
  display: inline-flex;
  align-items: center;
  padding: 4px 6px;
  width: 85px;
  height: 14px;
  border-radius: 6px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;

  @media #{$on-tablet} {
    padding: 4px 0;
    width: 428px;
    height: 6px;
    background-color: #cdcdcd;
    border-color: #cdcdcd;
  }
}

.slider__grip {
  flex-shrink: 0;
  display: block;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: #68b738;
  cursor: pointer;
  transition: margin-left 0.35s ease-out;

  @media #{$on-tablet} {
    margin-left: calc(50% - 17px);
    width: 34px;
    height: 34px;
    background-image: radial-gradient(#68b738 0, #68b738 4px, #ffffff 5px, #ffffff 100%);
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;

    &:hover {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    }

    &:active {
      border: 2px solid #68b738;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    }
  }
}

.slider__before:checked ~ .slider__actions .slider__grip {
  margin-left: 0;
}

.slider__after:checked ~ .slider__actions .slider__grip {
  margin-left: calc(100% - 34px);
}